/*corazon sin marcar */
.heart-icon {
    font-size: 1.5rem;
    color: gray;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Cambio de color cuando está activo */



.card-body {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre elementos */
    align-items: center; /* Alinea verticalmente los elementos en el centro */
}