h5{
    display: inline;
}
p{
    text-align: center;
    display: inline;
    background-color: aqua;
}
.heart-icon {
    font-size: 1.5rem;
    color: gray;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Cambio de color cuando está activo */
.heart-icon.active {
    color: red;
}