<div class="container">
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
      <div class="col" *ngFor="let recipe of filteredRecipes; let i = index">
        <app-card [recipe]="recipe" (click)="openRecipeDetail(recipe, i)"></app-card>
      </div>
    </div>
  </div>
  



<ng-container *ngIf="selectedRecipe">
    <app-recipe-detail-modal
    [recipe]="selectedRecipe"
    [index]="selectedIndex"
    [recipes]="filteredRecipes"
    (close)="closeModal()"
    >

    </app-recipe-detail-modal>
</ng-container>