<footer class="footer bg-dark text-white pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>Sobre nosotros</h5>
                <div class=" mt-3">
                    <p class="mb-0">&copy; 2024 CocinaYa</p>
                </div>
                <p>Este proyecto ha sido creado con fines académicos de la carrera TUP en la institucion UTN. Todos los derechos reservados </p>
               
            </div>

            <div class="col-md-4 mb-3">
                <h5>Integrantes</h5>
                <ul class="list-unstyled">
                    <li>Borneo Tadeo</li>
                    <li>Loza Jeremias</li>
                    <li>Palavecino Alan</li>
                    <li>Daniel</li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Redes Sociales</h5>
                <div>
                    <a href="#" class="text-white me-3"><i class="fab fa-google"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
                </div>
                <div>
                    <a href="#" class="text-white me-3"><i class="fab fa-google"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
                </div>
                <div>
                    <a href="#" class="text-white me-3"><i class="fab fa-google"></i>   palavecinoalan03&#64;gmail.com</a>
                    <a href="#" class="text-white"><i class="fab fa-instagram"></i>  alanpaalavecino</a>
                </div>
                <div>
                    <a href="#" class="text-white me-3"><i class="fab fa-google"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
                </div>
                

                
                
               
            </div>
           

        </div>

        
    </div>
</footer>

<router-outlet></router-outlet>